.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 0 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media only screen and (max-width: 750px){
  .App{
    min-width: 400px;
  }
  
  
  .App-header {
    /* background-color: #222; */
    height: 75px;
    padding: 10px;
    /* color: white; */
  }
  
  .App-title {
    font-size: 1em;
  }
  
  .App-intro {
    font-size: small;
  }
  .user-bio-container{
    font-size: 1em;
    padding : 5px;
  }

  #imagebox{
    width: 100px;
    height: 100px;
  }

  #eventbox{
    font-size: 10px;
  }
  
  .selector-container-button-yes, .selector-container-button-no{
    display: none;
  }
  .selector-container-image{
    margin: 0 0 10px 0;
  }
  .matches-name, .matches-email, .matches-phone{
    margin-bottom : 2px;
  }
  .matches-name{
    margin-top: 2px;
  }
  .matches_container_matches-image{
    border: 2px solid purple;
  }
  hr{
    margin-top: 5px;
  }
  .btn, .btn-primary{
    margin : 0 3px;
  }
}